.container{
  text-align: center;
}
.form-header-text h1{
  font-size: 50px;
  font-family:'Times New Roman', Times, serif ;
}
.form-title a{
  color: black;
  text-decoration: none;
  margin: 0px;
}
.sauna-content{
  background-color: #FFF8DC;
}
.sauna-article{
  background-color: #ffebbd;
  padding: 0 100px;
  border: 1px solid black;
}
.sauna-nickname{
  color: black;
  text-decoration: none;
}
.sauna-shop p{
  background-color: white;
  text-align: center;
  margin: 5px 5px;
  border-radius: 10px;
}
.sauna-title{
  font-size: 35px;
  padding-top: 15px;
}
.shop-form{
  height: 35px;
  width: 500px;
  margin: 0px;
  padding:5px 0 0 10px;
  resize: none;
}
.sauna-form{
  width: 500px;
  border-radius:30px;
  resize: none;
  font-size: 20px;
  padding: 0 20px;
}
.sauna-post{
  font-size: 50px;
}
.sauna-btn{
  margin: 20px;
}
