.container{
  text-align: center;
}
/* .form-header-text h1{
  font-size: 50px;
  font-family:'Times New Roman', Times, serif ;
} */
.form-title a{
  color: black;
  text-decoration: none;
}
.sauna-shop-name{
  font-size: 50px;
}
.shop-form{
  font-size: 20px;
}
.shop-form{
  height: 35px;
  width: 500px;
  margin: 0px;
  padding:5px 0 0 10px;
  resize: none;
}
.sauna-content{
  background-color: #FFF8DC;
}
.sauna-form{
  width: 500px;
  border-radius:30px;
  resize: none;
  font-size: 20px;
  padding: 0 20px;
}
.sauna-btn{
  font-size: 20px;
  margin: 20px;
}
.sauna-shop p{
  height: 30px;
  background-color: white;
  text-align: center;
  margin: 5px 5px;
  border-radius: 10px;
}
.sauna-title{
  font-size: 35px;
  padding-top: 15px;
}
/* .sauna-post{
  font-size: 50px;
} */

