footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}
footer p {
  text-align: center;
}
.header {
  height: 80px;
  width:   100%;
  background-color: #FFF8DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  margin-left:20px ;
  color:darkturquoise;
  font-size: 80px;
  font-family: 'Permanent Marker', cursive;
  width: 30%;
}
.header-center img{
  height: 80px;
  width: 80px;
}
.header-list{
  display: flex;
}
.header-list img{
  margin-top: 20px;
  height: 90px;
  width: 90px;
  object-fit: cover;
}
.content-image img{
  width: 100%;
  height: 750px;
  object-fit: cover;
}


