footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}
footer p {
  text-align: center;
}
.header {
  height: 80px;
  width:   100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-icon{
  display: flex;
  justify-content: center;
  
}
.header-icon img{
  width: 35%;
  height: 35%;
}
