<div class="edit-sauna">
  <div class="sauna-content">
    <div class="sauna-text">
    <h3 class="edit-contet">編集する</h3>
      <%= render partial: "form", locals: {sauna: @sauna} %>
    </div>
  </div> 
</div>