 <div class="sauna">
   <header class="header">
      <div class="header-left">
        <h1 class="title">Sauna.Life</h1>
      </div>
      <div class="header-center">
        <%# <%= link_to image_tag("ofuro_sauna_tonttu_stone.png")%> 
      </div>
      <div class="header-right">
        <ul class="header-list">
          <li><%= link_to image_tag("signin22069792.png")%></li>
          <li><%= link_to image_tag("login.png")%></li>
        </ul>
      </div>
   </header>
   <div class="content">
     <div class="content-image">
       <%= image_tag "iStock-1163221036.jpg"%>
     </div>
   </div>
   </div>