<div class="contents">
  <div class ="container">
  <div class="form-header-text">
    <h1 class="form-title"><%=link_to "sauna.life", root_path%></h1>
  </div>
   <%= render partial: "form", locals: { sauna: @sauna } %>
  </div>
</div>

    