.content-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.new-wrap{
  width: 500px;
  padding: 30px;
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
}
.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}